/* General Profile Page Styles */
.profile-container {
  display: flex;
  justify-content: center;
  align-content: center;
  
}

.profile-card-title {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.profile-card {
  width: 500px;
  padding: 50px;
  box-shadow: 0 5px 10px rgba(60, 211, 141, 0.1); /* Subtle shadow */
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-control {
  border-radius: 0.375rem;
  box-shadow: 0 5px 10px rgba(51, 212, 137, 0.1); /* Subtle shadow */
  width: 100%;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  box-sizing: border-box;
  border: 1px solid #c4f7f3;
  border-radius: 4px;
}
.form-label {
  font-weight: 500;
}

.form-control:focus {
  border-color: #1bb39e; /* Focus color matching the primary theme */
  box-shadow: 0 0 0 0.2rem rgba(27, 179, 158, 0.25); /* Focus shadow */
}

.url-prefix {
  color: #6c757d; /* Muted color for the prefix */
}

.url-prefix:hover {
  color: #1bb39e; /* Hover color matching the primary theme */
}
.button-container {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}

.custom-button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 1rem;
}

.bg-primary {
  background-color: #1bb39e;
}

.bg-success {
  background-color: #1bb39e;
}

.text-white {
  color: #ffffff;
}

.btn-outline-primary {
  border-color: #1bb39e;
  color: white;
  width: 200px;

}

.btn-outline-success {
  border-color: #1bb39e;
  color: white;
  width: 200px;

}
.profile-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.custom-button {
  width: 150px;
}

.profile-section {
  flex-grow: 1;
  margin-left: 20px;

}

.profile-card {
  width: 100%;
  background-color: #e1f5f2;

}
.title .h2{
  font-size: 1.5em;
  font-weight: 600;
  text-transform: capitalize;
}
