/* modalStyles.css */
.modal{
    position: fixed;

}
.modal-logo {
    width: 180px; /* Adjust logo size */
    margin-bottom: 10px;
}

.modal-title {
    text-align: center;
    width: 100%;

}

.modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;

    
}
.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.modal-body .h4{
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;

}
.h4{
    font-size: 1.5em;
    font-weight: 600;
}
    
.modal-header {
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
 .modal-body .form-group {
    width: 100px;
    margin-bottom: 10px;
    font-weight: bold;
}
.modal-body .form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #1bb39e;
}

.modal-body .btn-link {
    background-color: white;
    color: #1bb39e;
    font-size: 1em;
}

.modal-body .mt-3{
    font-size: small;
    font-weight: normal;
}

.form-group{
    margin-top: 15px;
}
.group{
    margin-top: 5px;
}
.profile{
    max-height: 500px;
}
